<template name="about">
  <div class="row">
    <div class="small-12 columns">
      <div class="row text-center sectionHeader">
        <h1 class="top-margin">About the block experience</h1>
      </div>

      <div class="row callout dark">
        <div class="small-8 columns small-centered">          
          <p>
            The block experience is an open source project which brings bitcoin users a simple user experience.
          </p>
          <p>
            Only the most relevant information is displayed to the user in a simple and clean way.
          </p>

          <h2>Status</h2>
          <p>
          At the moment there are two outstanding issues to be completed:
          <ul>
            <li>Search by address</li>
            <li>Site layout for mobile devices</li>
          </ul>
          </p>

          <h2>Join the projecton GitHub</h2>
          
          <p>
            <a href="https://github.com/santiagorp/theBlockExperience">
              The Block Experience GitHub project page</a>
          </p>

          <p>
            You are welcome to help on the project development. There are many ways you can contribute to the project:
            <ul>
              <li> Give your feedback, comments or new ideas for the site </li>
              <li> Develop new functionality </li>
              <li> Help designing the user interface </li>
              <li> Discuss about the project direction </li>
              <li> Test the application </li>
            </ul>
          </p>

          <h2>Donations</h2>
          <p>
            Support the project donating to the following address:
          </p>

          <div class="row">
            <div class="small-12 columns text-center">
              <p class="bitcoin-address">1Men6QYaooZRWNv8kzi3VfYKKU3xqp6B6Q</p>          
              <img class="bitcoin-donation" src="/images/donation_address.png"/>
            </div>
          </div>

          <p>
            It will help us to pay the server hosting and development of new functionality!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
