.latestBlock {
	position: relative;

	.blockNumber {
		position: absolute;
		font-size: 21px;
		top: 60px;
		left: 50px;
		font-weight: bold;
		z-index: 10;

		a {
			color: rgba(70, 8, 8, 0.8);
		}
	}

	.blockSize {
		position: absolute;
		font-size: 14px;
		top: 68px;
		left: 333px;
		z-index: 10;
		color: rgba(70, 8, 8, 0.8);
	}

	.blockInfo {
		display: block;
	}
}
