<template name="latestBlocks">
  <div>
    <div class="row">
      <h1 class="small-12 columns text-center">Search</h1>
    </div>

    <div class="row">
      <div class="small-6 small-centered columns">
        <form class="search-form">
          <div class="input-group">
            <input class="input-group-field" name="term" type="text"
            placeholder="Transaction id, Block number or Block hash">
            <div class="input-group-button">
              <input type="submit" class="button" value="Search">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row block-list">
      {{#if blocks}} {{ #each blocks }}
      <div class="row latestBlock">
        <div class="small-6 small-centered columns text-center">
          <div class="row blockInfo">
            <div>{{formatUnixTime t}}, {{ n }} transactions</div>
          </div>
          {{> progressBar value=percent height=h size=s}}
        </div>
      </div>
      {{ /each}} {{ else }} {{ > loading }} {{ /if }}
    </div>
  </div>
</template>
