<template name='transactions'>
  {{ #if block }}
  <div class="row text-center">
    <div class="small-12 columns dark">
      <div class="row sectionHeader text-centered">
        <h1 class="small-12 columns top-margin">Transactions on #{{block.height}}</h1>
      </div>

      <table>
        <tbody>
          {{ #each block.tx}}
          <tr>
            <td>#{{ @index }}</td>
            <td><a href="/tx/{{this}}">{{ this }}</a></td>
          </tr>
          {{ /each }}
        </tbody>
      </table>
    </div>
  </div>
  {{ else }}
  {{ > loading }}
  {{ /if }}
</template>
