<template name="progressBar">
  <div class="progress-factor">
    <div class="progress-bar">
      <div class="bar has-rotation has-colors red heat-gradient" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">
      <div class="pb-tooltip heat-gradient-tooltip"></div>
        <div class="bar-face face-position roof percentage"></div>
        <div class="bar-face face-position back percentage"></div>
        <div class="bar-face face-position floor percentage volume-lights"></div>
        <div class="bar-face face-position left"></div>
        <div class="bar-face face-position right"></div>
        <div class="bar-face face-position front percentage volume-lights shine"></div>
        <div class="bar-face face-position front text-face">
          <div class="dataWrapper">
            <div class="height"><a href="/block/{{height}}">#{{ height }}</a></div>
            <div class="size">{{formatSize size}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
